
.basic .step-1{
    
    width: 40%;
    height: 40vh;
    margin: auto;
    margin-top: 150px;
    background-image: url('../../public/images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    
}

.basic .disc{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.basic #paper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) translateX(-8.125rem);
}
.basic #scissors{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) translateX(8.125rem);
}
.basic #rock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) translateY(15.625rem);
}
.paper{
    background-image: url('../../public/images/icon-paper.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 20px solid var(--Paper-Gradient-2);
    box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,0.19), 0px 7px 0px 0px var(--Paper-Gradient-1);
}
.rock{
    background-image: url('../../public/images/icon-rock.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 20px solid var(--Rock-Gradient-2);
    box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,0.19), 0px 7px 0px 0px var(--Rock-Gradient-1);
}
.spock{
    background-image: url('../../public/images/icon-spock.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 20px solid var(--Cyan-2);
    box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,0.19), 0px 7px 0px 0px var(--Cyan-1);
}
.lizard{
    background-image: url('../../public/images/icon-lizard.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 20px solid var(--Lizard-Gradient-2);
    box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,0.19), 0px 7px 0px 0px var(--Lizard-Gradient-2);
}
.rocky{
    grid-column: 1/ span 3;

}
.scissors{
    background-image: url('../../public/images/icon-scissors.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 20px solid var(--Scissors-Gradient-2);
    box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,0.19), 0px 7px 0px 0px var(--Scissors-Gradient-1);
}
.step-2{
    width: 45%;
    min-width: 600px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 250px;
    justify-items: center;
    align-items: center;
}
.disc2{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    border-width: 30px;
    cursor: pointer;
}
.title{
    color: white;
    text-transform: capitalize;
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
}
.house{
    width: 170px;
    height: 170px;
    background-color: rgba(0,0,0,0.19);
    border-radius: 50%;
}
.step-3{
    width: 45%;
    min-width: 600px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 250px;
    justify-items: center;
    align-items: center;
}
.step-4{
    width: 50%;
    min-width: 700px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 250px;
    justify-items: center;
    align-items: center;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.result p{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.begin{
    background-color: white;
    color: var(--Rock-Gradient-2);
    letter-spacing: 0.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
    cursor: pointer;
}
/* Advanced Section */
.advanced .step-1{
    margin: 100px auto;
    background-image: url('../../public/images/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
.advanced .disc{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.advanced #scissors{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) translateY(-80px);
}
.advanced #paper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) translate(160px, 30px);
}
.advanced #rock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) translate(100px, 220px);
}
.advanced #spock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) translate(-160px, 30px);
}
.advanced #lizard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) translate(-110px, 220px);
}
.basic .remove{
    display: none;
}
.advanced .remove{
    display: none;
}
@media screen and (max-width: 501px) {
    .basic .step-1{
        width: 60%;
        background-size: contain;
        column-gap: 4rem;
        align-content: center;
        margin-top: 170px;
    }
    .basic #paper{
        transform: translate(-50%,-50%) translate(-6rem,2rem);
    }
    .basic #scissors{
        transform: translate(-50%,-50%) translate(6rem, 2rem);
    }
    .basic #rock{
        transform: translate(-50%,-50%) translateY(13rem);
    }
    .basic .disc{
        width: 110px;
        height: 110px;
        border-width: 15px;
        background-size: 50%;
    }
    .advanced .step-1{
        background-size: 60%;
        margin-top: 170px;
    }
    .advanced .disc{
        width: 90px;
        height: 90px;
        border-width: 15px;
        background-size: 50%;
    }
    .advanced #paper{
        transform: translate(-50%,-50%) translate(100px, 120px);
    }
    .advanced #scissors{
    transform: translate(-50%,-50%) translateY(40px);
    }
    .advanced #rock{
        transform: translate(-50%,-50%) translate(60px, 250px);

    }
    .advanced #lizard{
        transform: translate(-50%,-50%) translate(-70px, 250px);

    }
    .advanced #spock{
        transform: translate(-50%,-50%) translate(-100px, 130px);

    }
    .step-2{
        width: 100%;
        min-width: 300px;
        margin-top: 7rem;
        grid-template-rows: 75px 200px;
    }
    .step-3{
        width: 100%;
        min-width: 300px;
        margin-top: 7rem;
        grid-template-rows: 75px 200px;
    }
    .step-4{
        width: 100%;
        margin-top: 7rem;
        margin-bottom: 14rem;
        min-width: 300px;
        grid-template-rows: 75px 200px;
        grid-template-columns: 1fr 1fr;
    }
    #blank{
        display: none;
    }
    .result{
        position: absolute;
        bottom: -0.5rem;
    }
    .disc2{
        width: 130px;
        height: 130px;
        border-width: 15px;
    }
    .title{
        font-size: 1rem;
    }
    .house{
        width: 100px;
        height: 100px;
    }
}
