.show-modal{
    display: block;
}
.modal{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.29);
    z-index: 1;
}
.modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}
.modal-container p{
    align-self: flex-start;
    font-size: 1.5rem;
}
.modal-container .icon-close{
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}
@media screen and (max-width: 501px) {
    .modal-container{
        position: fixed;
        width: 100%;
        height: 100%;
    }
    .overlay{
        display: none;
    }
    .modal-container p{
        align-self: center;
        margin-bottom: 6rem;
    }
    .modal-container .icon-close{
        position: relative;
        margin-top: 4rem;
        top: 0;
        left: 0;
    }
}