:root{
    --Scissors-Gradient-1: hsl(39, 89%, 49%);
    --Scissors-Gradient-2: hsl(40, 84%, 53%);
    --Paper-Gradient-1: hsl(230, 89%, 62%);
    --Paper-Gradient-2: hsl(230, 89%, 65%);
    --Rock-Gradient-1: hsl(349, 71%, 52%);
    --Rock-Gradient-2: hsl(349, 70%, 56%);
    --Lizard-Gradient-1: hsl(261, 73%, 60%);
    --Lizard-Gradient-2:hsl(261, 72%, 63%);
    --Cyan-1: hsl(189, 59%, 53%);
    --Cyan-2: hsl(189, 58%, 57%);
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
    --Radial-Gradient-1: hsl(214, 47%, 23%);
    --Radial-Gradient-2: hsl(237, 49%, 15%);
}
*,::after,::before{
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: radial-gradient(var(--Radial-Gradient-1), var(--Radial-Gradient-2));
    min-height: 100vh;
    width: 100%;
    
}
.rules{
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    border: 2px solid var(--Header-Outline);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.4rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
@media screen and (max-width: 501px) {
    body{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .rules{
        bottom: -7rem;
        right: 50%;
        transform: translateX(50%);
    }
}